@charset "UTF-8"; 
@font-face {
font-family : main_font; /*'Proxima Nova Thin';*/
src: url('../fonts/ProximaNovaT-Thin.eot');
src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Proxima Nova Regular';
src: url('../fonts/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
  
@font-face {
font-family: 'Proxima Nova Semibold';
src: url('../fonts/ProximaNova-Semibold.eot');
src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Semibold.woff') format('woff'),
url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
  
 :root{
	/*--background_color  : #082701; /*#6d614f;*/
	--grid_gap                   : 0.2rem;
	--main_font_size        : 1.01rem; 
	--border_color           :  #f08c00;
	--border-width           : 1px;
	--grid-box-color         :  #e7eacd; /*#e1d2b7;*/  
	--main-text-color       : #e5e6dc; 
	--dark-text-color        : #9b9b9b;
	--line-height               :  1.4rem; /*calc( 1.4 * var( --main-font-size ) ); */
	--column_width         : 22rem;   /* ширина текстовых колонок */
	--menu_background :  #e7eacd; /*#e1d2b7;*/  /*#433b31;*/ 
	--bg_title_menu          : #0c3602; /*#433b31;*/
	--background_image : url( '../images/background.jpg' );
	--logo_side                  : 10rem;
	--logo_border_color  : var( --menu_text_color  );
	--footer_color             : #041a25c4;
	--header_color           : #ffffbbd4; 
	--backgr_transp         : 0.1;      /* прозрачность фона */
	--breadcrumb_height : 1.6rem;
 }

 body {
  margin                              : 0;
  padding                             : 0;
  min-height                        : auto;
  font-family                        : main_font;
  font-size                            :  var( --main_font_size );
  background-image          : var( --background_image );
  background-repeat          : no-repeat;
  background-attachment : fixed;
  background-position       : center;
  background-size               : 100% 100%;
  }
   
  /** иконка WDM -- гнусный хак *************/
    .Nav-item a{
	  overflow            : hidden;
	  border-bottom : 1px solid transparent;
  }
 /** ссылка с иконкой **********************/ 
  .inline_href{
	  display                 : inline;
	  text-decoration  : none;
	  color                    : var( --main-text-color );
  }
  .inline_href i{
	  display                 : inline;  
	  color : var( --menu_text_color  );
  }	  
  
  /****************************************/
 /* Grid-areas *****************************/
 
  header {
	  grid-area: header1;
 }
 
 .under_header{
	  grid-area : under_header;
 }
 
 .about_us{
	 grid-area : about_us;
 }
 
  .content {
		grid-area : content;
 }

 footer {
		grid-area : footer1;
 }
  
  /* ползунок для размера шрифта */
  .txt_size_slider{
    display                  : flex;
    justify-content     : flex-end;
	margin-right        : 0.9rem; 
    align-items           : center;
	color                      : var( --menu_text_color  );
	font-size                : calc( 0.8 * var( --main_font_size ) );
  }
  
   .background_slider{
    display                  : flex;
    justify-content     : flex-start;
	margin-left           : 0.9rem; 
    align-items           : center;
	color                      : var( --menu_text_color  );
	font-size                : calc( 0.8 * var( --main_font_size ) );
  }
  
  input[ type="range" ] {
  -webkit-appearance             : none;
   width                                      : 3rem;
  height                                      : 0.4rem;
  margin                                    : 0;
  border                                     : 1px solid var( --logo_border_color );
  padding                                  : 1px 2px;
  border-radius                        : 0.2rem;
  background                            :  var( --footer_color );
  outline                                     : none;
   cursor                                     : pointer;
}

input[ type=range ]::-webkit-slider-thumb {
  -webkit-appearance : none;
  border                         : 1px solid var( --logo_border_color );
  height                           : 0.8rem;
  width                            : 0.5rem;
  border-radius             : 0.2rem;
  background                 : var( --logo_border_color );
 }
   
  /* текстовые колонки */
  .text_cols {
   column-width      : calc( 0.8 * var( --column_width ) );
   max-width            : 98%;
   margin                  : 0 auto;
   padding                :  0;
   height                   : auto;
   /*border                  : 4px double silver;*/
   border-left           : 0;
   border-right        : 0;  
   -webkit-column-rule : 3px double var( --logo_border_color );  /* Chrome, Safari, Opera */
   -moz-column-rule     : 3px double var( --logo_border_color );   /* Firefox */
   column-rule                : 3px double var( --logo_border_color );
 }
 
 h1, h2, h3{
	 text-align             : center;
	 color                     :  var( --main-text-color  );
	 font-size               : calc( 1.1 * var( --main_font_size ) );
	 margin-top          : 0;
	 margin-bottom   : 1.2rem;
 }
 
.course h2{
	font-size : calc( 0.9 * var( --main_font_size ) );
	margin   : 0;	 
 }
 
 .course figcaption h3{
	font-size                             : calc( 1.6 * var( --main_font_size ) );
	margin                                : 0;	 
	padding-left                       : 0.2rem;
	padding-right                    : 0.2rem;
	font-family                         : 'Proxima Nova Semibold';
    -webkit-background-clip : text;
    -moz-background-clip     : text;
    background-clip               : text;
    text-shadow                      : rgba( 0, 0, 0, 0.9 ) 0px 4px 4px;
 }
  
 p{
     font-family          : main_font;       /*'Proxima Nova Thin'; */
     color                     : var( --main-text-color );
     text-align             : justify;
     font-size               : var( --main_font_size );
     line-height           : var( --line-height  );
	 margin                 : 0;
	 padding-left         : 0.5rem;
     padding-right      : 0.5rem;
 } 
 
 .indent{
     text-indent : 1.6rem;	 
 }
    
 .centered{
	margin            : auto;
	text-align        : center;
	padding-left   : 5px;
    padding-right : 5px;
 }
 
 .lefted{
	 margin    : auto;
 	 text-align : left;
 }
 
  .righted{
	 margin    : auto;
 	 text-align : right;
 }
 
 /** LOGO и О нас ************************************/
 
 .about_us{
	 margin-top                    : 1rem;
	 margin-bottom             : 0;
     width                               : 98%;
	display                              : grid;
    grid-template-columns :  auto var( --logo_side ) auto;
	grid-template-areas:
	      "txt_about_us_left  logo_about_us txt_about_us_right";
    margin-left                    : auto;
	margin-right                 : auto;
	align-self                       : center;
	align-items                   : center;
	align-content               : center;
 }
	
 .logo_about_us, .txt_about_us{
	height     :  var( --logo_side );
	border    :  2px double var( --logo_border_color ); 
 }
 
 .txt_about_us{
	margin-top        : auto;
    margin-bottom : auto;	
 	justify-content  : center;
  	display               : flex;
	align-items       : center;
	align-content   : center;
	overflow            : hidden;	
	padding             : 0;
} 
 
 .txt_about_us.left{
	grid-area            : txt_about_us_left;  
	border-right      : 0; 
	padding-right    : calc( 0.5*var( --logo_side ) ); 
	padding-left       : 0.8rem;           /*calc( 0.25*var( --logo_side ) );*/
	margin-right      : calc( -0.15*var( --logo_side ) ); 
 }
 
 .txt_about_us.right{
	 grid-area          : txt_about_us_right; 
	border-left        : 0; 
	padding-left     : calc( 0.5*var( --logo_side ) ); 
 	padding-right   : 0.8rem;            /*calc( 0.25*var( --logo_side ) ); */
	margin-left      :  calc( -0.05*var( --logo_side ) );  
  }
  
  .txt_about_us p{
	padding                   : 0 !important; 
 	font-size                  : calc( 0.9*var( --main_font_size )  );
	line-height              : 1.1rem;
	color                        : #ffffbbd4;
	}
 
  .logo_about_us {
	 grid-area                 : logo_about_us;
	 width                       :  calc( 1.1 * var( --logo_side ) );
    height                       :  calc( 1.1 * var( --logo_side ) );
	-webkit-transform :  rotate( 45deg ); 
	transform                : rotate( 45deg ); 
	border                      : 1px solid var( --logo_border_color );   
	 z-index                    :  10;
	padding                   :  calc( 0.04*var( --logo_side ) );
	align-self                  :  center;
 }
 
 .logo_about_us img{
	 width      : var( --logo_side );
	 height     : var( --logo_side );
 }
 
 /** рамка с заголовком*******************************/
 
 .frame_fieldset{
	  width                 : 98%; 
	  border              :  2px double var( --logo_border_color ); 
	  margin              : auto;
 }
 
  .frame_legend{
    width                 : auto;
   padding-left      : 1rem;
   padding-right    : 1rem;
   text-align            : center;
   padding-top       : 1rem;
   border                :  0; /*1px solid var( --logo_border_color );*/ 
 }
 
 .frame_legend h2{
      color : var( --logo_border_color );	 
 }
 
 /** принципы ***************************************/
 
  .principles{
	 width                 : auto;
	 display              : grid;
	 grid-template-columns :  1fr 1fr 1fr;
	 margin-left      : auto;
	 margin-right    : auto;
	 align-self          : start;
	 align-items       : start;
	 align-content   : center;
	 padding            : 0.5rem;
	 grid-gap            : 1rem;
 }
 
 .principle{
	 height                               : 100%;
	 display                              : grid;
	 grid-template-columns :  1fr;
    align-self                           : start;
  }
 
 .principle_title{
	display                              : grid;
	grid-template-columns :  auto;
	grid-template-rows        : auto auto;
	justify-content                 : center;
	justify-items                     : center;
	grid-gap                           : 0.4rem;
	padding                            : 0;
	margin-top                      : 0.3rem;
    margin-bottom               : 0.3rem;
	align-self                          : start;
  }
  
  .principle p{
	  align-self  : end;
  }
  
  
 .principle_title h3{
	justify-self : center;
	margin      : auto;
	padding    : 0;
	text-align  : center;
	color    : var( --main-text-color ); 
	font-size    :  var( --main_font_size );
 }
 
  .principle_title img{
	justify-self : center; 
	width          : 48px;
 }
 
  /** цены ***************************************/
 .prices{
	 width                 : auto;
	 display              : grid;
	 grid-template-columns :  1fr 1fr 1fr;
	 grid-tempate-rows         : auto;
	 margin-left       : auto;
	 margin-right    : auto;
	 align-items       : start;
	/* border              :  2px double var( --logo_border_color ); */ 
	 padding            : 0.5rem;
	 grid-gap            : 1rem;
 }
 
 .price{
	 display                : grid;
	 border                : 1px solid var( --footer_color );
	 padding              : 1rem;
	 margin                : auto;
	 grid-template-columns :  100%;
	 /* grid-template-rows : 2fr 2fr  auto 1fr; */
 	 justify-content   : center;  
	 align-items         : space-between;
	 justify-items       : center;
	 height                  : 100%;
 }
 
  .price ul{
	 display              : grid;
	list-style-image : none;
    list-style-type    : none;
	margin               : 0;
	padding             : 0;
	padding-bottom : 0.5rem;
	margin-bottom  : 1rem;
	align-content     : start;
	align-items        : start;

 }
 
  .price ol{
	display                : grid:
   	list-style-image : none;
	width                  : 90%;
 	margin               : auto;
	padding-left      :  1rem;
	border-top        : 1px solid  var( --header_color );
	padding-top      : 1em;
	align-content     : start;
	align-items        : start;
	align-self            : start;
	/*height  : 1fr;*/

 }
 
 .price ol li{
	  margin                : 0;
	  padding              : 0;
	  margin-bottom : 0.2rem;
  }
   
  .price ul li{
	  margin                   : auto;
	  padding                 : 0;
      text-align               : center;
	  margin-bottom    : 1.0rem;
  }
  
   .price ul li.prices_string{
	 color                    : var( --header_color ); 
	 font-size              : calc( 1.2 * var( --main_font_size ) ); 
	 margin-bottom  : 1.5rem;
  }
   
  .price a.contact_button{
	 display                    : grid;
     color                        : var( --menu_text_color );
	 background-color : var( --footer_color ); 
     text-decoration     : none;
	 padding                  : 0.5rem;
	 font-size                 : calc( 1.2 * var( --main_font_size ) ); 
	 margin-top            : 1.5rem;
	 border                    : 1px solid var( --dark-text-color  );
	 width                       : 100%;
	 text-align                : center;
	 align-self                : end;
  }
 
 /** Галерея курсов ***********************************/
 .courses_grid{
	 width                               : auto;
	display                              : grid;
    grid-template-columns : repeat( auto-fill, minmax( 250px, 1fr ) );
    grid-gap                           : 0.5rem;
    align-items                      : stretch;
	border                              : 0; /* 3px double var( --logo_border_color ); */
	margin                             : 0.5rem;
	padding                            : 0.0rem;
 }
 
 .course_link{
	 text-decoration : none; 
	 border                : 1px solid var( --footer_color );
	 height                  : 100%;
	 width                               : 100%;
	 align-self            :  center;
	 justify-self          : center;
 }
 
 .course_link:hover{
	 text-decoration : none; 
	border                 : 1px solid cyan;
    animation           : border_colors 1s infinite ease-in-out alternate;
  }
 
 .course_link figure img:hover{
     filter : sepia( 90% );
	 filter : opacity( 70% );
 }

@keyframes border_colors {
     from {
        border: 1px solid yellow;
     }
     to {
        border : 1px solid var( --logo_border_color );
	    filter     : sepia( 90% );
	    filter     : opacity( 70% );
     }
}
  
 .course{
	display                               : grid;
    grid-template-columns  : 1fr;
    grid-template-rows         : repeat( 3, auto );
	 justify-content                 : center;
	 align-content                   : center;
	 align-items                       : center;
	 border                              : 0;
	 padding                            : 0.2rem;
	 margin                              : 0;
 }
 
 .course img{
	grid-column  : 1;
    grid-row         : 1 / span 3;
    width               : 100%;
 }
 
 .course a{
	text-decoration : none; 
 }
  
 .course figcaption{
	grid-column   : 1;
    grid-row          : 2;
    align-self         : center;
    justify-self       : center;
    z-index             : 11;
 }
 /***********************************************/    
 /** разметка под разное разрешение                             **/
 /** контрольные точки: 600px                                           **/
 /***********************************************/  
 .wrapper {
		background    : rgba( 0, 20, 20, var( --backgr_transp ) ) linear-gradient(to bottom, rgba(8, 31, 42, 0.25) 0%, rgba(23, 46, 51, 0.65) 100%);
		color                : black;
		padding           : 0.2rem;
		padding-top    : 0.1rem;
		max-width       : 100%;
        display              : grid;
        grid-gap            : var( --grid_gap );
		grid-template-columns :  1fr;
 		grid-template-areas:
		     "header1"		     
			 "under_header"
			 "about_us" 
			 "content"
             "footer1"
  }
  
   @media ( min-width: 600px ) {
	   .box.content{
	          margin-top : 3rem;
              }
		}	
	
  @media ( max-width: 600px ) {
		/* перестройка футера*/
		 footer .footer_str                     { grid-template-columns : 1fr;      
                                                                grid-template-rows : auto auto auto;     }
		footer .footer_str .footer_col { text-align    : center;                                       }  
		footer .footer_col ul                { margin-top : -1rem;                                     } 
        footer .signature                     { grid-template-columns : auto; 
		                                                      justify-content                 : space-around; }  
		
      /* слайдер */		
      .box.under_header  { margin-top  : 3rem;   }
	  
	   input[ type="range" ] {   width    : 4rem;
                                                  height  : 1.0rem;}
												  
     .box.under_header .breadcrumb{
		 visibility : hidden;
		 width     : 0;
	  }				

      .box.content .course_headpiece{ margin-top: 0.5rem; }	  
	  
	  .principles{	  grid-template-columns : auto;   }
	  
	  .prices{  grid-template-columns : auto;  	  }
		
	/* шапка */													  
     .box.about_us{
     margin               : auto;		 
	 margin-top        : 0;
	 margin-bottom : 2rem;
     width                   : 96%;
	 display                : grid;
     grid-template-columns :  auto;
     grid-template-rows : auto auto auto;
	 grid-template-areas:
	      "logo_about_us"
		  "txt_about_us_left"
		  "txt_about_us_right";
	align-items    : start;	  
	justify-items  : center;
	grid-gap         : 0;
	}
	
     .txt_about_us{
                border           :  0;
			    align-items    : center;
                margin           : 0;
				padding         : 0;
				display           : grid;
				}	
    
      .logo_about_us{
		  margin-top         : 1.0rem;
		  margin-bottom  : 4rem;
		  align-self : start;
	  }	
				
		.txt_about_us.left, 
		.txt_about_us.right{
			width      : 100%;
			height     : auto;
			padding : 0 1rem 0 1rem;
			margin   : 0;
		}		

  }	/* end @media (max-width: 600px) */ 
	
/************************************/ 
 .box {
   /*background-color : var(--grid-box-color);*/
   color                        : var( --main-text-color );
   border-radius        : 4px;
   padding                   : var( --grid_gap );
   font-size                  : var( --main_font_size ); 
 }

 header{
	background-color :  var( --menu_background );     /*var(--bg_title_menu );*/
	color                        :  var( --grid-box-color );
  	justify-content       : space-around;
	position                   : fixed;
	width                       : 100%;
    top                           : 0;
    z-index                    : 999;
 }
 
 .under_header{
	 margin-top                    : 5rem;
	 width                               : 100%;
	 display                             : grid;
     justify-content                : space-between;	 
	 grid-template-columns : auto auto auto;
	 grid-template-rows       : auto;
 }
 
 .content{
	 margin-top : 1rem;
 }
   
 footer {
    background : var( --footer_color );
    color             : var(--bg_title_menu);
  	display          : grid;
	font-size       : calc(0.9*var(--main_font_size));
}

  .footer_str, .signature{
	display                              : grid;
    /*grid-gap                           : 1rem;*/
	margin-top                      : 0.1rem;
    grid-template-columns : auto auto auto;	 
	align-items                       : start;
	justify-content                 : center;
	align-content                   : start;
 }
 
 /* последняя строка -- подпись */
 .signature{
	 justify-content : space-between;
 }

 .footer_col{
    color                        : var( --dark-text-color  ); 
	display                    : grid;
	margin                    : 0;
	margin-bottom     : 1rem;
	justify-self              : center;
    align-self                : start; 
  }
 
 .footer_col ul{
	 padding-left       : 0;
	 padding-top       : 0;
	 margin-top        : 0rem;
	 align-self            : start; 
	 margin-bottom : 1rem;
 }
 
 .footer_col ul li{
    list-style-type    : none;
    color                   : var( --dark-text-color  ); 
   /*text-align           : center;*/
    list-style-image : none;
    font-family         : 'Proxima Nova Regular';
    font-size             : var( --main_font_size );
    line-height         : var( --line-height );
 }
  
 .footer-list-header {
    color                : var( --dark-text-color  ); 
    font-family     : 'Proxima Nova Regular';
    text-shadow   : 2px 2px 4px #000000;
    font-size          : calc( 1.1 * var( --main_font_size ) );
	margin-top     : 1rem;
}

.footer_col img{
   justify-self            : center;
   align-self              : center; 
   margin-bottom   : 1rem;
  
}

.footer_border{
    border-top                      : 1px solid #ccc;
    border-radius                : 50%;
    -webkit-border-radius : 50%;
    -moz-border-radius     : 50%;
    border-radius                : 50%;
}

 .footer_col i.fab{
    color               : var( --dark-text-color  ); 
    font-size         : calc( 1.4* var( --main_font_size ) );
    letter-spacing: 5px;
    text-shadow   : 5px 2px 6px rgb(14, 38, 47);
 }
 
 .iconf{
	 padding                        : 3rem 2rem 1rem 2rem;
	 display                          : flex;
	 justify-content             : center;
	 flex-wrap                      : wrap;
 }

 /** для отдельных курсов *******************************************/

 .course_headpiece,
 .course_bottompiece {
	 margin        : auto;
	 margin-top: -2rem;
	 width           : 30%;
	 min-width   : 18rem;
	 display        :  grid;
	 margin-bottom : 2rem;
 }
 
 .course_headpiece img {
	 justify-self    : center;
	 width            : 80%;
	 max-width   : 10em;
	 border         :  1px solid var( --logo_border_color ); 
	 padding       :  5px;
 }

 .course_bottompiece{
	 margin-top          : 2rem;
	 width                    : 98%;
	 margin-bottom  : -2rem;
 }
 
 .course_bottompiece img{
	 justify-self : center;
	 width         : 100%;
	 max-width: 50em;
	 border       :  0; 
	 padding    :   5px; 
 }
 
 .course_headpiece figcaption{
	 margin-top         : 2rem;
	 margin-bottom  : -1rem;
 }
 
 .course_headpiece figcaption h1{
	 font-size : calc( 1.3 * var( --main_font_size ) );
 }
 
 /** хлебные крошки **********************/
  .breadcrumb{
	 display              : grid; 
	 /*border              : 1px solid var( --logo_border_color );*/
	 grid-auto-flow : column;
	 justify-content : center;
	 grid-gap            : 0;
	 height                : var( --breadcrumb_height );
	 padding-left     : 0.5rem;
	 padding-right   : 0.5rem;
	 border-radius : var( --breadcrumb_height ); 
 }
  
.breadcrumb a{
 	color                    : var( --logo_border_color );
	text-decoration : none;
	margin                : auto;
	font-size             : calc( 0.9 * var( --main_font_size ) );
}

.breadcrumb a .text_breadcrumb{
  display : none;	
}

.breadcrumb a:last-child {
   cursor             : default;
}

.breadcrumb a:after {
	margin-left     : 0.3rem;
	margin-right  : 0.3rem;
	font-weight    : bold;
    content           : ">";
    display            : inline-block;
    padding-right: 3px;
    vertical-align : middle;
}

.breadcrumb a:last-child:after {
   content           : "|";
   margin-right  : 0;
   cursor             : default;
}

.breadcrumb a:hover .text_breadcrumb{
    /*color      : yellow;*/
   display  : inline-block;
 }

 


			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			



















			
			